.u-section-1-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/076f5acbc452262d970aa2efa0d50456-1024x768.jpeg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-1 .u-text-1 {
  font-size: 3.75rem;
  text-transform: none;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 276px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }
}
.u-section-1-2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("https://www.joonsquare.com/usermanage/image/business/geeta-public-sr-sec-school-panipat-1235/geeta-public-sr-sec-school-panipat-gee3.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 33px;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.5rem;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 12px;
    margin-right: 12px;
  }
}
.u-section-1-3 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/images/57e8d1434e51ab14f6da8c7dda793678153bdee757596c48732f73d0964bc451bf_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 276px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }
}
.u-block-3712-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3712-3 {
  position: absolute;
  left: 0;
}

.u-block-3712-4 {
  position: absolute;
  right: 0;
}
.u-section-2 .u-sheet-1 {
  min-height: 320px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 24px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 283px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-2 .u-icon-1 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 30px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 17px 15px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 7px 15px 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 283px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-2 .u-icon-2 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 30px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 17px 15px 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 7px 15px 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 283px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-2 .u-icon-3 {
  height: 38px;
  width: 38px;
  display: block;
  margin: 30px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 17px 15px 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 7px 15px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 19px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 14px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
  }
}
.u-section-3 {
  background-image: none;
}

.u-section-3 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 476px;
  object-position: 50% 90.8%;
  background-position: 50% 12.04%;
  filter: brightness(0.5);
}

.u-section-3 .u-sheet-1 {
  min-height: 776px;
  margin: -475px auto 0;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 152px;
  margin: 50px auto 0 0;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 49px auto 30px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 515px;
  background-image: none;
}

.u-section-3 .u-image-2 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px 139px 0 20px;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 515px;
}

.u-section-3 .u-image-3 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 173px 0 20px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 515px;
}

.u-section-3 .u-image-4 {
  height: 345px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 181px 0 20px;
}

.u-section-3 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    width: 470px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-right: 92px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    height: 365px;
    margin-left: initial;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-3 .u-group-1 {
    width: 360px;
    margin-top: 140px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 19px;
    margin-left: 12px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    height: 549px;
    margin-left: initial;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 2002px;
    margin-top: -549px;
  }

  .u-section-3 .u-group-1 {
    width: 338px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 18px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 501px;
    margin-left: initial;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1958px;
    margin-top: -501px;
  }

  .u-section-3 .u-group-1 {
    width: 283px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}
.u-section-4 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/images/2ab06c7a94c3125deb4b9084c6f6ca19.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 334px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1068px;
  margin: 82px auto 20px 36px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 232px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 232px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-4 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 232px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-4 .u-text-6 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 232px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-4 .u-text-8 {
  letter-spacing: 2px;
  font-weight: 700;
  margin: 20px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 881px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 675px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 506px;
    margin-bottom: 56px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
  }

  .u-section-4 .u-text-4 {
    position: relative;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 319px;
    margin-bottom: 22px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
}
.u-section-5 .u-sheet-1 {
  min-height: 937px;
}

.u-section-5 .u-group-1 {
  width: 570px;
  min-height: 179px;
  margin: 35px auto 0 0;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 15px auto 0 0;
}

.u-section-5 .u-image-1 {
  background-image: url("https://theshillongtimes.com/wp-content/uploads/2020/07/CBSE-Girl-1.jpg");
  min-height: 199px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 444px;
}

.u-section-5 .u-container-layout-3 {
  padding-right: 20px;
}

.u-section-5 .u-text-3 {
  margin-left: 20px;
  margin-right: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-5 .u-text-4 {
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 327px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-5 {
  margin: 44px 0 0;
}

.u-section-5 .u-image-2 {
  background-image: url("/images/maxresdefault1.jpg");
  min-height: 316px;
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  background-image: url("https://m.hindustantimes.com/rf/image_size_1200x900/HT/p2/2019/09/18/Pictures/_3b81f702-d9e3-11e9-aefb-e5600836c7fe.JPG");
  min-height: 215px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 428px;
}

.u-section-5 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.u-section-5 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-5 .u-group-1 {
    width: 470px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    position: relative;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    position: relative;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
  }

  .u-section-5 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1381px;
  }

  .u-section-5 .u-group-1 {
    width: 360px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -199px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1830px;
  }

  .u-section-5 .u-group-1 {
    width: 338px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
  }

  .u-section-5 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-image-2 {
    order: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1580px;
  }

  .u-section-5 .u-group-1 {
    width: 283px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
}
.u-section-6 {
  background-image: url("/images/54e6d4424f54a814f6da8c7dda793678153bdee757596c48732f73d79f4ec75bb8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 617px;
}

.u-section-6 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-6 .u-gallery-1 {
  width: 400px;
  height: 405px;
  grid-gap: 10px;
  margin: 30px auto 70px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  bottom: -22px;
}

.u-section-6 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: -49px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -49px;
}

@media (max-width: 991px) {
  .u-section-6 .u-gallery-1 {
    width: 400px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    width: 400px;
    margin-bottom: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    background-position: 33.88% 50%;
  }

  .u-section-6 .u-gallery-1 {
    width: 340px;
  }
}
